new background:#010028; blue

new href background:#d1292b; red
old href background:#2a323a; gray type
gray color:#fb4848;
rgba(54,64,75,0.85) gray type equal ({
    background: #36404b;
    opacity: 0.8;
})

background-color: rgba(1, 0, 40, 0.85); new blue

dark gray 2c343d

icon bg gray 4a4a4a


orange type fc5a1b